.tocDiagram {
    display: flex;

    svg {
        // flex: 1;
        // background-color: rgba(red, 0.1);
    }
}

.toc {
    // width: 180px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: Arial, sans-serif;
}

.tocTitle {
    font-size: 0.9rem;
    text-align: center;
    margin: 10px 0 4px;
    font-family: Arial, sans-serif;
}

.tocGroupTitle {
    font-size: 0.6rem;
    opacity: 0.8;
    padding: 4px 0 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 4px;
    font-family: Arial, sans-serif;
}

.menuEntry {
    cursor: pointer;
    padding: 4px 4px 4px 12px;
    font-family: Arial, sans-serif;

    &.active {
        background-color: lightblue;
    }

    &.hover {
        background-color: #338;
        color: white;
    }
}

.dataPath {
    stroke-width: 1.5;
    stroke: rgba(black, 0.8);
    fill: none;
    font-family: Arial, sans-serif;
}

.gap {
    @extend .dataPath;
    font-family: Arial, sans-serif;
}
